/*
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("deep-purple", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("deep-purple", "base") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
@import "materialize";

.main-container {
  padding-top: 10px;
}

.remark {
  .input[type=text] {
    padding-left: 5px;
  }
  display: none;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid $primary-color-dark;
  box-shadow: 3px 3px #333;
}

.task_details {
  display: none;
}

.task_text {
  font-size: 20px;
}

.borderless {
  border: 0 !important;
}
