.stage-box-title {
  width: 100%;
  font-size: 20px;
}

.current-task-title {
  font-size: 30px;
}


.today {
  .today-item {
    border-bottom: 1px solid black;
    padding: 5px;
    -webkit-transition: background 0.1s linear 0.1s, color 0.1s linear 0.1s;
    transition: background 0.1s linear 0.1s, color 0.1s linear 0.1s;

    &:hover {
      background: #673ab7;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      input[type="submit"] {
        background: white;
        color: #673ab7;
        &:hover {
          text-decoration: underline; 
        }
      }
    }
  }
}

.now {
}

.done {
  .item {
    background: teal;
    border-bottom: 1px solid #f8f8f8;
    color: #f8f8f8;
    padding: 5px;
    -webkit-transition: background 0.1s linear 0.1s, color 0.1s linear 0.1s;
    transition: background 0.1s linear 0.1s, color 0.1s linear 0.1s;

    &:hover {
      background: #000;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      input[type="submit"] {
        background: white;
        color: #673ab7;
        &:hover {
          text-decoration: underline; 
        }
      }
    }
  }
}
